*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header img{
    width: 100%;
    height: auto;
}

.hero-container{
    display: flex;
	flex-wrap: wrap;
}

.hero-container-left {
    background-color: #001952;
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero-container-right {
    background-color: #88D6F7;
    flex: 60%;
}

.hero-container-left-img img{
    width: 147px;
    height: 97px;
}

.hero-container-left-contents{
    width: 394px;
}

.hero-container-left-contents button{
    color: black;
    background-color: white;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 400;
    margin-bottom: 15px;
}

.hero-container-left-contents p, h2{
    margin: 10px 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-container-left-contents button:hover{
    background-color: #0f0f0f;
    color: white;
}

.hero-container-left-contents,.hero-container-left-img {
    color: white;
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 50%;
}

.hero-container-right-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
}

.service-cards{
    margin: 2% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.service-card{
    /* border: 1px solid saddlebrown; */
    flex: 20%;
    margin-right: 20px;
}

.service-card img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.service-card p{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

.nourish{
    margin: 5% 10px;
    text-align: center;
    max-height: 763px;
}

.nutrition-part{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    align-items: center;
}

.nutrition-part-left, .nutrition-part-right{
    flex: 50%;
}

.nutrition-part-left p{
    font-size: 18px;
    margin: 15px 0;
}

.nutrition-part-left img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* width: 633px;
    height: 589px; */
    margin-top: 20px;
}

.food-items-row{
    display: flex;
    flex-wrap: wrap;
}

.food-item{
    flex: 50%;
}

.food-item img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

#food-item-second-row{
    margin: 10px 0;
}

#dog-info{
    background-color: aqua;
    text-align: center;
    width: 622px;
}

.banner{
    background-color: #0081c7;
    margin: 15px 0;
}

.banner-container{
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#protein img{
    position: relative;
    top: -50px;
    width: 100%;
}

footer img{
    width: 100%;
}

img{
    object-fit: contain;
}



/* Responsive layout */
@media (max-width: 800px) {
    .hero-container-right,.hero-container-left,.nutrition-part-left,.nutrition-part-right {
        flex: 100%;
    }
}




